.cursos-lista li {
  font-size: 25px;
  margin-top: 20px;
  border-bottom: 3px solid lightgray;
}

.curso li {
  font-size: 20px;
  border: 1px solid lightgray;
  margin: 10px;
  padding: 30px;
  user-select: none;
}