.inputContainer {
  height: 80px;
}

input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px;
  font-size: 16px;
}

.input-error {
  border: 1px solid red;
}
.error {
  font-size: 11px;
  color: red;
  opacity: 0;
}

.visible {
  opacity: 1;
}

.inputError {
  background-color: rgb(253, 144, 144);
  color: white;
}
