.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: rgb(91, 51, 236);
  height: 65px;
  padding: 10px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s all;
}

.nav-item:hover {
  text-decoration: underline;
  /* font-size: 19px; */
}